@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --white-color:  hsl(0, 0%, 100%);
    --blue-color: hsl(240, 100%, 7%);
    --orange-color: hsl(32, 89%, 48%);

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}